*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: nunito;
    src: url(../fonts/nunito/nunito-regular.ttf);
}

.parallax {
    background-image: url(../images/Services/FullSizeRender-2.jpg);
    height: 80%;
    min-width: 220px;
    background-attachment: fixed;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;
}


.horizontal{
    height: 800px;
    overflow: hidden;
}
.services{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 75px;

}

.service-container{
    z-index: 1;
    display: inline-block;
    border-radius: 20px;
    flex-basis: 30%;
    height: 325px;
    width: 100%;
    background-color: rgb(33, 54, 33);
    padding-top: 30px;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    
   /*
    img{
       display: block;
        margin: auto;
        height: clamp(80px,80%,250px);
        width: clamp(100px,80%,350px);
    }
    */
    .image-box{
        position: absolute;
        width: 80%;
        height: 70%;
        display: block;
        margin: auto;
        overflow: hidden;
        padding-left: 10%;
        img{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
}

h1{
    font-family: nunito;
    padding-right: 10px;
    display: inline-block;
   
}

.centering{
    position: relative; left: 0; right: 0;
    text-align: center;
 }
.prev,.next{
    display: inline-block;
    margin: auto;
    font-size:200%;
    cursor: pointer;
  
}


h3{
    color: white;
    font-family: nunito;
    padding-top: 20px;
}

footer{
    z-index: 2;
}

@media (max-width: 780px){

    h1{
        font-family: nunito; 
        
    }
    .centering{
       position: relative; left: 0; right: 0;
       text-align: center;
    }
    .horizontal{
        height: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    .services{
        display: flex;
        padding-top: 0px;
        padding-bottom: 0;
    
    }

    .service-container{
        display: inline-block;
        position: relative;
        border-radius: 20px;
        flex-basis: 100%;
        height: 325px;
        width: 100%;
        background-color: rgb(33, 54, 33);
        padding-top: 30px;
        
        margin-bottom: 10px;
        text-align: center;
        
    
        .image-box{
            position: absolute;
            width:80%;
            height: 100;
            display: block;
            margin: auto;
            padding-left: 10%;
            img{
                display: block;
                object-fit: fill;
            }
        }

    }

    .prev,.next{
        display: none;
      
    }
}
