*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: nunito;
    src: url(../fonts/nunito/nunito-regular.ttf);
}


main{
    padding-top: 55px;
}

.horizontal{
    height: 659px;
    overflow: hidden;
}
.service{
    display: flex;
    padding-top: 0px;
    height: 700px;
}

.image-container{
    flex-basis: 50%;
    width: 45%;
    img{
        margin-top: 12.5%;
        margin-bottom: 12.55;
        margin-right: 10%;
        border-radius: 5px;
        width: 90%;
        height: 75%;
    }

}
ul{
    list-style-type: none;
}

.service-container{
    z-index: 1;
    flex-basis: 75%;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 200px;
}

.gallery{
    width: 80%; 
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
}
.gallery-image{
    cursor: pointer;
    width: 100px;
    height:100px;
    background-color: black;
    color: white;
    border-radius: 10px;
    p{
        padding-top: 40px;
    }
    
}

h1{
    font-family: nunito;
    padding-right: 10px;
   
}


.prev,.next{
    z-index: 2;
    font-size:400%;
    cursor: pointer;
}
.prev{
    position: fixed; left: 10px; top: 45%;
}
.next{
    position: fixed; right: 10px; top: 45%;
}


h3{
    color: white;
    font-family: nunito;
    padding-top: 20px;
}

footer{
    z-index: 3;
}


@media screen and (max-width: 780px){
    .image-container{
        opacity: 0;
    }
    .gallery-image{
        width: 75px;
        height:75px;
        margin-left: 5px;
        margin-right: 5px;
        p{
            padding-top: 20px;
        }
    }
}